}


#everything {
    height: 600px;
    text-align: center;
    display: inline-block;
    margin-top: 150px;
    background-color: #F5CB5C;
    box-shadow: 0px 20px 30 0px black;
    border-radius: 80px;
    border:1px #333533 solid;
    min-width: 400px;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-decoration: #242423;
    padding-bottom: 20px;
    margin-top: -75px;
    
}

@media (max-width: 690px) {
    .button {
      font-size: 1rem;
      margin: 15px 0px 0px 0px;
      padding: 10px 15px;
    }
  }
  
@media (max-width: 500px) {
    .button {
      font-size: 1rem;
      padding: 10px 15px;
    }
  }