
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    font-family: sans-serif;
    background-color: #242423;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  
  body{
    background-color: #242423;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
  }
  #main-container{
    background-color: #F5CB5C;
    border: none;
    border-radius: 80px;
    width: 1100px;
  }
  
  h1{
    display: flex;
    justify-content: center;
    background-color: #E8EDDF;
    width: 75%;
    height: 100px;
    margin-top: 60px;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(58, 58, 57, 0.521);
    font-weight: bold;
  }

   /* NAV TOOLS W/HOVERS*/
  #nav-tools{
    display: flex;
  }
  #house{
    display: flex;
    margin-top: 40px;
    color: #242423;
    margin-right: 20px;

  }
  #house:hover{
    transform: scale(1.5);
    transition: .025s;
  }
  #again{
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
    color: #242423;
  }
  #again:hover{
    transform: scale(1.5);
    transition: .025s;
  }
    /* NAV TOOLS END*/

  div.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding-bottom: 60px;
  }

  /* FORMATS SAVE CARDS*/
  article.card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(58, 58, 57, 0.521);
    background-color: #E8EDDF;
    font-weight: bold;
  }
  article.card:hover{
    transform: scale(1.05);
    transition: .025s;
  }
    /* END*/
