html {
    text-align: center;
    height: 90%;
}

head {
    display: inline-block;
    text-align: center;
}

body {
    background-color: #242423;
}

#master {
    text-align: center;
    display: inline-block;
    margin-top: 60px;
    background-color: #F5CB5C;
}

#secondary {
    background-color: black;
    display: inline-block;
    text-align: center;
    margin: 50px;
    height: 500px;
    max-width: 400px;
    min-width: 300px;
}

@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 15px 0px 0px 0px;
      padding: 10px 15px;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 1rem;
    }
  }