html {
    text-align: center;
}

head {
    display: inline-block;
    text-align: center;
}

#master {
    text-align: center;
    display: inline-block;
}

#secondary {
    background-color: black;
    display: inline-block;
    text-align: center;
    margin: 35px;
}

@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 15px 0px 0px 0px;
      padding: 10px 15px;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 1rem;
    }
  }